// Colors
$onyx: hsla(245, 10%, 22%, 1);
$white: hsla(0, 0%, 100%, 1);
$cadetBlue: hsla(168, 36%, 54%, 1); 
$whiteSmoke: hsla(0, 0%, 96%, 1);
$lightGray:hsla(0, 0%, 98%, 1); 
$black: hsla(0, 0%, 0%, 1);
$darkBlue: hsla(205, 41%, 21%, 1);
$lightSilver: hsla(330, 3%, 84%, 1);

// Font Sizes
$font-large: 2.5rem; // 40px headings
$font-medium: 0.9375rem; // 15px  paragraphs
$font_small: 0.75 rem // 12 px CTAs

// Font Family 